## Add/Remove Series Elements
### Adding/Merging Series together
The Series object contains an `add()` method that allows us to merge two Series objects:  
`Series.add(other, fill_value=None)`  

It takes in another series object as an argument and merges all of its elements with the Series that is calling the function. Because these values are labeldin a series, elements with the same lables will be added together, but elements with different labels will not.

In [ ]:
import pandas as pd
# Create first Series object from a list

In [ ]:
first = pd.Series(  [100, 200, 300, 400, 500],
                    index = ['a', 'b', 'e', 'f', 'g'])

# Create second Series object from a list
second = pd.Series( [11, 12, 13, 14],
                    index = ['a', 'b', 'h', 'i'])

# Add two Series objects together
total = first.add(second)

# DIsplay the Series object
print(total)

* As label ‘a’ is in both the Series, so values from both the Series got added together and final value became 111.
* As label ‘b’ is in both the Series, so values from both the Series got added together and final value became 212.
* As label ‘e’ is in first Series only, therefore it got added in new Series as NaN.
* As label ‘f’ is in first Series only, therefore it got added in new Series as NaN.
* As label ‘g’ is in first Series only, therefore it got added in new Series as NaN.
* As label ‘h’ is in second Series only, therefore it got added in new Series as NaN.
* As label ‘i’ is in second Series only, therefore it got added in new Series as NaN.

But what if we wanted to keep the original values, and not have them be added as `NaN` instead?  <p> 
In order to do this, we would need to use the `fill_value` parameter of the `add()` function. Whatever value that is entered as the fill value will be substituted in place of `NaN`.

In [ ]:
import numpy as np

# Create first Series object from a list
first = pd.Series(  [100, 200, 300, 400, 500],
                    index = ['a', 'b', 'e', 'f', 'g'])

# Create second Series object from a list
second = pd.Series( [11, 12, 13, 14, np.NaN],
                    index = ['a', 'b', 'h', 'i', 'g'])

# Add two Series objects together
total = first.add(second, fill_value=0)

# DIsplay the Series object
print(total)

* As label ‘a’ is in both the Series, so values from both the Series got added together and final value became 111.
* As label ‘b’ is in both the Series, so values from both the Series got added together and final value became 212.
* As label ‘e’ is in first Series only, so for the second Series it used the default value from fill_value i.e. 0 and final value became 300.
* As label ‘f’ is in first Series only, so for the second Series it used the default value from fill_value i.e. 0 and final value became 400.
* As label ‘g’ is in first Series only, so for the second Series it used the default value from fill_value i.e. 0 and final value became 500.
* As label ‘h’ is in second Series only, so for the first Series it used the default value from fill_value i.e. 0 and final value became 13.
* As label ‘i’ is in second Series only, so for the first Series it used the default value from fill_value i.e. 0 and final value became 14.

### Subtracting Two Series
In Pandas, the Series provides a function sub() to merge two Series object:  
`Series.sub(other, fill_value=None)`  

It accepts another Series as argument and merges all the elements of that Series to the calling object. As Series values are labeled, elements with same label will be subtracted and values with unique labels will be NaN. It returns a new Series object with the merged content.

In [ ]:
# Create first Series object from a list
first = pd.Series(  [100, 200, 300, 400, 500],
                    index = ['a', 'b', 'e', 'f', 'g'])

# Create a Series object from a list
second = pd.Series( [11, 12, 13, 14],
                    index = ['a', 'b', 'h', 'i'])

# Subtract second Series from first Series
finalObj = first.sub(second)

# Display the Series object
print(finalObj)

* As label ‘a’ is in both the Series, so value in second Series will subtracted from first and final value became 89.
* As label ‘b’ is in both the Series, so value in second Series will subtracted from first and final value became 188.
* As label ‘e’ is in first Series only, therefore it got added in new Series as NaN.
* As label ‘f’ is in first Series only, therefore it got added in new Series as NaN.
* As label ‘g’ is in first Series only, therefore it got added in new Series as NaN.
* As label ‘h’ is in second Series only, therefore it got added in new Series as NaN.
* As label ‘i’ is in second Series only, therefore it got added in new Series as NaN.

The `fill_value` parameter of the `add()` function works similarly in subtraction between two Series objects as it does in addition.

In [ ]:
# Create first Series object from a list
first = pd.Series(  [100, 200, 300, 400, 500],
                    index = ['a', 'b', 'e', 'f', 'g'])

# Create a Series object from a list
second = pd.Series( [11, 12, 13, 14],
                    index = ['a', 'b', 'h', 'i'])

# Subtract second Series from first Series
finalObj = first.sub(second, fill_value=0)

# Display the Series object
print(finalObj)

* As label ‘a’ is in both the Series, so value in second Series will subtracted from first and final value became 89.
* As label ‘b’ is in both the Series, so value in second Series will subtracted from first and final value became 188.
* As label ‘e’ is in first Series only, so for the second Series it used the default value from fill_value i.e. 0 and final value became 300.
* As label ‘f’ is in first Series only, so for the second Series it used the default value from fill_value i.e. 0 and final value became 400.
* As label ‘g’ is in first Series only, so for the second Series it used the default value from fill_value i.e. 0 and final value became 500.
* As label ‘h’ is in second Series only, so for the first Series it used the default value from fill_value i.e. 0 and final value became -13.
* As label ‘i’ is in second Series only, so for the first Series it used the default value from fill_value i.e. 0 and final value became -14.

### Deleteing Values from a Series
In Pandas, the Series object provides a function `drop()` to delete the elements based on index labels.It accepts a list of index labels and deletes the values associated with those labels.

In [ ]:
import pandas as pd

# Create a Series object from a list
names = pd.Series(  ['Mark', 'Rita', 'Vicki', 'Justin', 'John', 'Michal'],
                    index = ['a', 'b', 'c', 'd', 'e', 'f'])
print('Original Series: ')
print(names)
print("\n")

# Delete elements at given index labels
names = names.drop(['b', 'c', 'e'])
print('Modified Series: ')
print(names)

### Other Useful Methods

Summing all the values in a Series:

In [ ]:
# Create a Series object from a list
numbers = pd.Series([100, 200, 300, 400, 500],
                    index = ['a', 'b', 'e', 'f', 'g'])
print(numbers)

# Get the sum of all numeric values in Series 
total = numbers.sum()
print('Sum is: ', total)

Obtaining the Max Values in a Series:

In [ ]:
# Create a Series object from a list
numbers = pd.Series([110, 22, 78, 890, 200, 50, 600])
print(numbers)

# Get largest value from the Series
max_value = numbers.max()
print('Maximum value is: ', max_value)